#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#map-marker {
  background-image: url(../components/images/icon2.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}
